a{text-decoration: none;
    color: rgb(228, 192, 34);

}
li{list-style-type: none;
word-spacing: .5rem;}
.one{background-color: aquamarine;
border: 15px;
background-size: 500px;
width: 40%;
border-radius: 3px;
text-align: center;
font-family:'Times New Roman', Times, serif;
color: blue;
border-radius: 2%;
  }
.apply{
        font-size: 16px; /* Adjust font size */
        font-weight: bold; /* Adjust font weight */
        text-transform: uppercase; /* Uppercase text */
        
     }
button:hover {
        background-color: #0056b3; /* Change background color on hover */
    }
    
    button:focus {
        outline: none; /* Remove focus outline */
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow on focus */
    }
body{
    background-image:url('back.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
p{text-align: center;
text-decoration: rgb(15, 8, 116);
}

.color-change-3x {
	-webkit-animation: color-change-3x 4s linear infinite alternate both;
	        animation: color-change-3x 4s linear infinite alternate both;
}
.form{display: inline-block;
}


.transparent{
    background-color: rgba(247, 246, 240, 0.3);
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    gap: 5px;
  flex-basis: 20px;
  height: 700px;;
  margin-right: 300px;
  margin-left: 300px;
}
.top-form{
    display: block;
}
h2, h3{
    color: aliceblue;
}
input{
    padding: 5px;
    width: 300px;
    margin: 10px;
    border-radius: 5px;
}
button{
    padding: 3px;
    margin: 3px;
    text-align: center;
    margin-right: 20px;
}
footer{color: aliceblue;
      margin-top: 250px;
      margin-left: 47%;
}
@media (max-width: 480px) and (min-width: 319px) {
    .one{background-color: aquamarine;
        text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: blue;
        display: block;
    flex-direction: column;
    flex-wrap: wrap;
    border: 55px;
background-size: 500px;
width: 40%;
border-radius: 3px;
text-align: center;
font-family:'Times New Roman', Times, serif;
color: blue;
border-radius: 2%;
  }
      
  
    
    .transparent{
        background-color: rgba(247, 246, 240, 0.3);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
          }
          .top-form{
            display: block;
        }
        h2, h3{
            color: aliceblue;
        }
        input{
            padding: 2px;
            width: 100px;
            margin: 3px;
            border-radius: 1px;
        }
        button{
            padding: 3px;
            margin: 3px;
            text-align: center;
            margin-right: 20px;
        }
    
  
    }